body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(147, 146, 116);
}

button {
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    color: rgb(255, 9, 9);
    margin-left: 50px;
    transition: transform 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}
